h1 {
  color: aquamarine;
  text-align: center;
  text-transform: uppercase;
}
table {
  width: 100%;
  border-collapse: collapse; /* Gộp các đường viền lại thành 1 đường mảnh */
  margin-top: 20px;
}

th, td {
  padding: 12px; /* Tạo khoảng trống bên trong ô cho dễ đọc */
  border: 1px solid #1b0c10; /* Đường viền nhẹ nhàng hơn */
}
input, textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}
button {
    background-color: lightskyblue;
    border:bisque;
    padding: 10px 20px;
    cursor: pointer;
}

.box{
 font-family:Arial, Helvetica, sans-serif;


}
body {
image-resolution: inherit;
}