.head ul {
    list-style-type: none;
   background-color: #4b2c20;
    
    padding: 0;
    display: flex; /* Kỹ thuật Flexbox để dàn hàng ngang */
    justify-content: center;
}
.head li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none; /* Bỏ gạch chân của link */
}
.head li a:hover {
    background-color: #6f4e37; /* Đổi màu khi di chuột vào */
}
tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
body{
  background-image: url(./data/anh-demo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}
table{
    
}