
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-image: url(../data/anh-vutru.jpg);
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}


main {
    flex: 1;
    display: flex;
    width: 90%;
    margin: 20px auto;
    gap: 20px;
}

/* ===== ARTICLE ===== */
article {
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

article h2 {
    margin-bottom: 10px;
}

article img {
    width: 100%;
    margin: 15px 0;
    border-radius: 8px;
}

article p {
    line-height: 1.8;
    text-align: justify;
}

/* Nút Đọc thêm */
.read-more {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    background-color: #0b5ed7;
}

/* ===== COMMENTS ===== */
.comments {
    margin-top: 30px;
}

.comments h3 {
    margin-bottom: 10px;
}

.comment {
    background-color: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* ===== ASIDE ===== */
aside {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

aside h3 {
    margin-bottom: 10px;
}

aside ul {
    padding-left: 20px;
}

aside li {
    margin-bottom: 8px;
}


footer {
    background-color: #1e1e2f;
    color: white;
    text-align: center;
    padding: 15px;
}
.logo{
    display: flex;
}
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Chuyển thành một cột đứng khi màn hình nhỏ */
    }
    article, aside {
        width: 100%;
    }
}